*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container {
    width: 80%;
    margin: auto;
}

.product {
    display: inline-block;
    width: calc(100% / 3);
    padding: 5px;
    position: relative;
    /* background-color: purple;
    border: 1px solid black; */

}

.product-img {
    width: 100%;
}

.sconto {
    display: inline-block;
    background-color: red;
    color: white;
    position: absolute;
    bottom: 50px;   
}
.etichetta {
    display: inline-block;
    background-color: green;
    color: white;
    position: absolute;
    
    
}

.heart {
    position: absolute;
    right: 5px;
    top: 15px;
    background-color: white;

}