*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container {
    width: 80%;
    margin: auto;
}

.product {
    display: inline-block;
    width: calc(100% / 3);
    padding: 5px;
    position: relative;

}

.product-img {
    width: 100%;
}

.sconto {
    display: inline-block;
    background-color: red;
    color: white;
    position: absolute;
    bottom: 30px;   
}
.etichetta {
    display: inline-block;
    background-color: green;
    color: white;
    position: absolute;
    bottom: 30px;
    left: 40px;
}

.heart {
    position: absolute;
    right: 5px;
    top: 15px;
    background-color: white;

}

.price {
    color: red;
    display: inline;
}

s {
    display: inline;
}
.prova1 {
    position: absolute;
}